<div class="card">
  <h3 class="pt-2">Comments of {{productName}}</h3>
  <div>
    <p-table [value]="comments" [scrollable]="true" scrollHeight="400px" tyleClass="p-datatable-striped border-round">
      <ng-template pTemplate="header">
          <tr>
              <th>Date</th>
              <th style="width: 8rem">Comment</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-comment>
          <tr>
            <td>{{comment.timestamp | date: 'yyyy.MM.dd.'}}</td>
            <td>{{comment.comment}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
             No comments found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Create comment to the product" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}">
    <span class="p-float-label">
      <textarea [rows]="3" id="float-input" [cols]="40" pInputTextarea [(ngModel)]="newComment"></textarea>
      <label for="float-input">Maximum 500 characters</label>
    </span>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="createComment()" label="Create comment" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<div class="d-flex justify-content-center pt-3">
  <button pButton label="Add comment" type="button" class="p-button-primary" icon="pi pi-plus" (click)="showDialog()"></button>
</div>

<p-toast></p-toast>
