<div class="card">
  <h3 class="pt-2">List of products</h3>
  <div>
    <p-table [value]="products" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-striped border-round">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th style="width: 8rem">Operation</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.partitionKey}}</td>
            <td style="text-align: center">
              <button pButton label="View" type="button" class="p-button-primary" icon="pi pi-eye" (click)="viewComments(product)"></button>
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
             No records found, add some products in the DB.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
